{% extends 'base.html.twig' %}

{% block title %}Locations - Regenerate statistics{% endblock %}

{% block content %}
    <p><a href="{{ path('admin_locations') }}" class="btn btn-primary">Go back to location management</a></p>
{% endblock %}